flows.json
[
    {
        "id": "9ddcdea959086c8e",
        "type": "tab",
        "label": "MQTT para Influx",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "bbc3c6b10e51d40c",
        "type": "mqtt in",
        "z": "9ddcdea959086c8e",
        "name": "Recebe Luminosidade do Arduino",
        "topic": "arduino/luz",
        "qos": "0",
        "datatype": "utf8",
        "broker": "31d9e4404cdfd5e6",
        "nl": false,
        "rap": true,
        "rh": 0,
        "inputs": 0,
        "x": 210,
        "y": 260,
        "wires": [
            [
                "cc7a7dc2e0632243"
            ]
        ]
    },
    {
        "id": "cc7a7dc2e0632243",
        "type": "function",
        "z": "9ddcdea959086c8e",
        "name": "Formata para InfluxDB",
        "func": "let medida_str = msg.payload;\nlet medida_num = parseInt(medida_str);\n\nif (isNaN(medida_num)) {\n    node.error(\"Payload não é um número válido: \" + medida_str);\n    return null;\n}\n\nmsg.payload = {\n    luz: medida_num\n};\n\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 260,
        "wires": [
            [
                "28f02fb21be754e9",
                "8a84bb71751051dd"
            ]
        ]
    },
    {
        "id": "28f02fb21be754e9",
        "type": "debug",
        "z": "9ddcdea959086c8e",
        "d": true,
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 740,
        "y": 340,
        "wires": []
    },
    {
        "id": "8a84bb71751051dd",
        "type": "influxdb out",
        "z": "9ddcdea959086c8e",
        "influxdb": "e11b55b37797fc59",
        "name": "Grava no InfluxDB",
        "measurement": "luz",
        "precision": "",
        "retentionPolicy": "",
        "database": "database",
        "precisionV18FluxV20": "ms",
        "retentionPolicyV18Flux": "",
        "org": "IFTMOrg",
        "bucket": "LampadaIOT",
        "x": 750,
        "y": 260,
        "wires": []
    },
    {
        "id": "16fc458f83de21c4",
        "type": "vsh-virtual-device",
        "z": "9ddcdea959086c8e",
        "name": "Lâmpada Ailton",
        "topic": "",
        "metadata": "",
        "connection": "a421e432d0908637",
        "template": "SWITCH",
        "retrievable": false,
        "passthrough": false,
        "diff": false,
        "filter": false,
        "filterTopic": false,
        "plan": "free",
        "x": 160,
        "y": 460,
        "wires": [
            [
                "0f7b566feb9e4b8c",
                "8b5195fef2ef6a30"
            ]
        ]
    },
    {
        "id": "fb0b87207e079a9d",
        "type": "mqtt out",
        "z": "9ddcdea959086c8e",
        "name": "Controle de Lampada",
        "topic": "arduino/lampada",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "31d9e4404cdfd5e6",
        "x": 860,
        "y": 460,
        "wires": []
    },
    {
        "id": "0f7b566feb9e4b8c",
        "type": "debug",
        "z": "9ddcdea959086c8e",
        "name": "debug 2",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 420,
        "y": 540,
        "wires": []
    },
    {
        "id": "8b5195fef2ef6a30",
        "type": "function",
        "z": "9ddcdea959086c8e",
        "name": "Transforma o payload da alexa para o MQTT",
        "func": "// Verifica se o estado dentro do pacote da Alexa é \"ON\"\nif (msg.payload.powerState === \"ON\") {\n    msg.payload = \"1\"; // Manda apenas o numero 1\n} \nelse {\n    msg.payload = \"0\"; // Manda apenas o numero 0\n}\nreturn msg;",
        "outputs": 1,
        "timeout": 0,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 490,
        "y": 460,
        "wires": [
            [
                "fb0b87207e079a9d",
                "9e807bb343c61a48"
            ]
        ]
    },
    {
        "id": "9e807bb343c61a48",
        "type": "debug",
        "z": "9ddcdea959086c8e",
        "name": "debug 3",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 820,
        "y": 540,
        "wires": []
    },
    {
        "id": "31d9e4404cdfd5e6",
        "type": "mqtt-broker",
        "name": "HiveMQ Publico",
        "broker": "192.168.100.150",
        "port": 1883,
        "clientid": "",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": 4,
        "keepalive": 60,
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthRetain": "false",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closeRetain": "false",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willRetain": "false",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "e11b55b37797fc59",
        "type": "influxdb",
        "hostname": "127.0.0.1",
        "port": 8086,
        "protocol": "http",
        "database": "database",
        "name": "",
        "usetls": false,
        "tls": "",
        "influxdbVersion": "2.0",
        "url": "http://influxdb:8086",
        "timeout": 10,
        "rejectUnauthorized": true
    },
    {
        "id": "a421e432d0908637",
        "type": "vsh-connection",
        "name": "pedrohenriquekourly@hotmail.com",
        "port": "8883",
        "accessTokenExpiry": "1764635681721",
        "debug": false,
        "backendUrl": "https://kfd5m4a21f.execute-api.eu-west-1.amazonaws.com/dev",
        "lwaClientId": "amzn1.application-oa2-client.3f1bb07133854b078261ad43f2484c18"
    },
    {
        "id": "f08334c520d6d3d6",
        "type": "global-config",
        "env": [],
        "modules": {
            "node-red-contrib-influxdb": "0.7.0",
            "node-red-contrib-virtual-smart-home": "4.5.1"
        }
    }
]